* {
    margin: 0;
    padding: 0;
}

h1 {
    color: blue;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    margin-top: 15px;
}

p {
    text-align: center;
    margin: 20px 0;
}

p span {
    text-transform: uppercase;
}